<div class="list-group">
  <% @questions.each do |question|  %>
    <div class="list-group-item">
      <div class="media">
        <div href="#" class="pull-left">
          <%= image_tag question.user.avatar.url(:thumb) %>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><%= link_to question.title, question %></h3>
          <small>
              Updated on <%= question.updated_at %> in <b><%= question.category %></b><a href="#"> Last reply</a> by
              <a href="#"><%= question.user.username %></a>
            </small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
  </div>
</div>
