<div class="list-group">
  <% @questions.shuffle.each do |question|  %>
    <div class="list-group-item">
      <div class="media">
        <div class="pull-left">
          <%= image_tag question.user.avatar.url(:thumb) %>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><%= link_to question.title, question %></h3>
          <small>
            <%= question.created_at.strftime("Created at %H:%M %d/%m/%Y") %>
            in <b><%= link_to question.category.name, question.category %></b>
            Last reply by <b><%= link_to question.user.username, question.user %></b>
          </small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
  </div>
</div>
